{{#each this}}
<div class="card">
  <div class="card-img-top">
    <img src="{{flags.svg}}" alt="{{name.official}}" width = 60px>
  </div>
  <div class="card-body">
    <h2 class="card-title"> Name: {{name.official}}</h2>
    <p class="card-text">Capital: {{capital}}</p>
    <p class="card-text">Population: {{population}}</p>
    <ul class="list-group"> Languages:
    {{#each languages}}
      <li class="list-group-item">{{this}}</li>
    {{/each}}
    </ul>
  </div>
</div>
{{/each}}